[Unit]
Description=Auto Git Commit and Push Service for my Zettelkasten
After=graphical-session.target gpg-agent.socket

[Service]
Environment="GIT_COMMITTER_NAME=Some Author"
Environment="GIT_COMMITTER_EMAIL=me@my.name"
ExecStart="/home/user/Sync/00 Zettelkasten/ZZ_Resources/zettelkasten-inotify"
Restart=always
RestartSec=5s
# Logs to user's systemd journal (view with journalctl --user -u zettelkasten-inotify.service)
StandardOutput=journal

[Install]
WantedBy=graphical-session.target
# Or: WantedBy=default.target
